.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
**/*.test.ts
**/*.spec.ts
.github/**
.ci/**
test/**
docs/**
qa/**
scripts/**
.artifacts/**
RELEASE_NOTES_TEMPLATE.md
assets/gifs/**
assets/gifs/.tmp/**
*.vsix
